{% extends "base.html" %}
{% load compress %}
{% load static %}

{% block content %}

    {% compress css %}
    <link rel="stylesheet" href="{% static 'users/static/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'website/static/css/home.css' %}">
    {% endcompress %}

    <div id="profile-container" class="bg-white border border-gray-200 rounded-lg shadow relative">
        <div class="grid grid-rows-10 grid-cols-10">
            <div id="profile-banner-container" class="row-start-1 row-span-4 col-span-full">
                <img id="profile-banner" class="rounded-t-lg object-cover" src="{% static 'users/static/img/background-default.jpeg' %}" alt="" />
            </div>

            <div id="profile-picture-container" class="outline outline-white outline-4 rounded-full row-start-4 row-span-3 col-start-2 col-end-4">
                <div class="rounded-full overflow-hidden">
                    <img src="{% static 'users/static/img/profile-default.svg' %}" alt="Profile picture" class="object-cover">
                </div>
            </div>

            <div class="row-start-7 row-span-2 col-end-8 col-start-2">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ user.first_name }} {{ user.last_name }}</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Bio Placeholder</p>
            </div>

            <!-- If profile doesn't belong to request user, add "Add/Remove Friend" button -->
            {% if user.id != request.user.id %}
            <div class="row-start-6 row-span-1 col-start-8">
                <form id="add-friend-form" method="post" action="{% url 'add_remove_friend' %}">
                    {% csrf_token %}
                    <input type="hidden" name="friend_id" value="{{ user.id }}">
                    <input type="hidden" name="action" value="{% if is_friend %}remove{% else %}add{% endif %}">
                    {% if is_friend %}
                    <button type="submit"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Remove Friend
                    </button>
                    {% else %}
                    <button type="submit"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Add Friend
                    </button>
                    {% endif %}
                </form>
            </div>
            
            <!-- Otherwise let the user edit their profile -->
            {% else %}
                <div id="profilePictureModal" class="fixed inset-0 hidden items-center justify-center z-50">
                    <div class="fixed inset-0 bg-black opacity-70"></div>
                    <div class="bg-white p-8 w-11/12 md:w-1/2 lg:w-1/3 rounded-lg">
                        <img id="previewPicture" src="{{ user.profile_picture.url }}" class="mx-auto w-full h-auto" alt="Profile picture">
                        <form method="post" enctype="multipart/form-data" action="{% url 'upload_picture' user.id %}">
                            {% csrf_token %}
                            <input type="file" name="profile_picture" id="fileInput" class="hidden">
                            <label for="fileInput" class="mt-4 inline-flex items-center px-4 py-2 bg-blue-600 text-white font-medium rounded-lg cursor-pointer">
                                Upload New Picture
                            </label>
                        </form>
                    </div>
                </div>
            {% endif %}


        </div> 
    </div>

    <script src="{% static 'users\static\js\addUsers.js' %}"></script>
{% endblock %}
