{% extends "base.html" %}
{% load compress %}
{% load static %}

{% block content %}

    {% compress css %}
    <link rel="stylesheet" href="{% static 'users/static/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'website/static/css/home.css' %}">
    {% endcompress %}

    <div id="profile-container" class="bg-white border border-gray-200 rounded-lg shadow relative">
        <div class="grid grid-rows-10 grid-cols-10">
            <div id="profile-banner-container" class="row-start-1 row-span-4 col-span-full">
                <img id="profile-banner" class="rounded-t-lg object-cover" src="{% static 'users/static/img/background-default.jpeg' %}" alt="" />
            </div>

            <div id="profile-picture-container" class="outline outline-white outline-4 rounded-full row-start-4 row-span-3 col-start-2 col-end-4">
                <div class="rounded-full overflow-hidden">
                    <img src="{% static 'users/static/img/profile-default.svg' %}" alt="Profile picture" class="object-cover">
                </div>
            </div>

            <div class="row-start-7 row-span-2 col-end-8 col-start-2">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Name Placeholder</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Bio Placeholder</p>
            </div>

            <div class="row-start-6 row-span-1 col-start-7 ">
                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Add Friend
                </a>
            </div>

        </div> 
    </div>

{% endblock %}
